[Desktop Entry]
Type=Application
Version=1.0
Name=0install
GenericName=Installer
GenericName[es]=Instalador
GenericName[sv]=Installerare
Comment=Run or manage Zero Install programs
Comment[es]=Actualiza o quita programas de tu menú Aplicaciones
Comment[sv]=Uppdatera eller ta bort Zero Install-program i menyn Program
Exec=0desktop
Icon=zeroinstall
Terminal=false
Categories=Utility;Settings;PackageManager;GTK;
