include COPYING
include *.1
include tests
include tests/*.py
include tests/Binary.xml
include tests/Compiler.xml
include tests/Source.xml
include tests/data
include tests/Hello
include tests/Hello.xml
include tests/HelloWorld.tgz
include tests/6FCF121BE2390E0B.gpg
include tests/dummy-1-1.noarch.rpm
include tests/HelloWorld.tar.bz2
include tests/dummy_1-1_all.deb
include tests/Autopackage.xml 
include tests/Foo.xml
include tests/Recipe.xml
include tests/HelloWorld.autopackage
include tests/HelloWorld.tar
include tests/test-gui
include tests/test-gui.xml
include zeroinstall/0launch-gui/README
include zeroinstall/0launch-gui/0launch-gui
include zeroinstall/0launch-gui/ZeroInstall-GUI.xml
