[Desktop Entry]
Type=Application
Version=1.0
Name=Manage Programs
GenericName=Installer
Comment=Update or Remove Zero Install programs on your Applications menu
Exec=0desktop --manage
Icon=zeroinstall-zero2desktop
Terminal=false
Categories=PackageManager;GTK;
