[Desktop Entry]
Type=Application
Version=1.0
Name=Add New Program
GenericName=Installer
Comment=Adds Zero Install programs to your Applications menu
Exec=0desktop -- %u
Icon=zeroinstall-zero2desktop
Terminal=false
Categories=PackageManager;GTK;
