[Desktop Entry]
Type=Application
Version=1.0
Name=Add New Program
Name[es]=Agregar un nuevo programa
Name[sv]=Lägg till program
GenericName=Installer
GenericName[es]=Instalador
GenericName[sv]=Installerare
Comment=Adds Zero Install programs to your Applications menu
Comment[es]=Agrega programas Zero Install a tu menú Aplicaciones
Comment[sv]=Lägger till Zero Install-program till menyn Program
Exec=0desktop -- %u
Icon=zeroinstall-zero2desktop
Terminal=false
Categories=PackageManager;GTK;
