[Desktop Entry]
Type=Application
Version=1.0
Name=Manage Programs
Name[es]=Administrar programas
Name[sv]=Hantera program
GenericName=Installer
GenericName[es]=Instalador
GenericName[sv]=Installerare
Comment=Update or Remove Zero Install programs on your Applications menu
Comment[es]=Actualiza o quita programas de tu menú Aplicaciones
Comment[sv]=Uppdatera eller ta bort Zero Install-program i menyn Program
Exec=0desktop --manage
Icon=zeroinstall-zero2desktop
Terminal=false
Categories=PackageManager;GTK;
